# Root .gitignore
node_modules/
.env
backend/src/data/
backend/session/
dist/
.DS_Store
*.log

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Build and Temp
build/
temp/
out/
